*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px dotted #f45;*/

/************************Fonts and Color styling*****************************************/
}
body{
    /*background-color: 	#FAF9F7;*/
    background-color: #E8CFC1;
    font-family: Montserrat, sans serif;
}

.header-container,.footer-container{
    background-color: #2E2E2E;   
}

.header, .copyright{
    color: #FAF9F7;   
}

.introduction, .itinerary-card{   
    color: 
}

.itinerary-section{
    background-color: #A6A6A6;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    padding: 40px;
    margin: 30px;
    border-radius: 6px;
    box-shadow: 8px 8px 8px#2E2E2E;
    gap: 20px;
}

.introduction h2{
    font-weight: lighter;

}

.itinerary-card{
    background-color: #FAF9F7;
    box-shadow: 11px 12px 12px#2E2E2E;
    flex-basis: 280px;
    padding: 20px;
    
}

.itinerary-title{
    font-size: 50px;
}

.itinerary-description{
    font-size: 16px;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 35px;
}




.logo p, .introduction h1, .itinerary-title{
     font-family: "Parisienne", cursive;
        font-weight: 400;
        font-style: normal;
        }

.logo p, .itinerary-title{
    font-size: 30px;
}



.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;  
    gap: 40px;
    /*padding: 0 20px;*/
}

.logo{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right:auto;
}



   
}

.nav-list li{
    padding: 5px 20px;
}

.main-content{
    margin: 5px 35px;
   
}

.introduction{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin:40px;
    gap: 5px;
    
}

.introduction h1{
    font-size: 120px;
    color:rgb(53, 51, 51);
}

.introduction h2{
    font-size: 40px;
    font-weight: 400px;
    text-align: center;
}


.itinerary-grid{
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    margin:10px;
    gap: 35px;
    flex-wrap: wrap;
    
    
    
    
}


.itinerary-card{
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 9px;
    padding: 20px 10px;
    flex:1;
    min-width: 300px;
    max-width: 400px;
    

}

.itinerary-card img{
    padding: 10px;
    /*border-radius: 20%;*/
    flex-shrink: 1;
}

.itinerary-description{
    text-align: center;
}

.footer-container{
    /*width: 100%;*/
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-top: 50px;
}




